.App {
	width: 100%;
	height: inherit;
	display: grid;
	grid-template-columns: 25% auto;
	grid-template-rows: 30% auto;
	gap: 20px;
	padding: 20px;
}

.date-weather-container {
	display: grid;
	grid-template-columns: auto 35%;
	align-items: center;
}
